@{
    ViewBag.Title = "Weather";
}
<div style="position:relative; top:-50px; ">
<h3 style="position:relative;top:50px; margin-left:10px;">Weather</h3>
<!-- This code is issued by Magicseaweed.com under license 1366371727_43062 for the website  only subject to terms and conditions
and this message being kept intact as part of the code. If you are not the license holder add this content to your website by registering at 
Magicseaweed.com. All copyrights retained by Metcentral Ltd and any attempt to modify or redistribute this code is prohibited. 
Please contact us for more information if required. -->
<div style="width:1018px;height:565px; background: url('../../Content/themes/base/images/weather.png')no-repeat;">
    <div style="position:relative; left:2%; top:15%; width:400px;border:#fff 3px solid;filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*ie*/
-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #909090;/*safari or chrome*/
box-shadow:2px 2px 10px #909090;/*opera or ie9*/
}">
        <script type="text/javascript" src="http://magicseaweed.com/syndicate/index.php?licenseKey=1366371727_43062"></script>
        <p>
            <div style="font-family: Arial, Helvetica, sans-serif; text-align: center; font-size: 10px; color: #000; height: 25px;"><a href="http://magicseaweed.com/Cape-Sorell-Surf-Report/3681/" style="color: #000;">Cape Sorell Surf Report and Forecast</a></div>
        </p>
    </div>
</div>
</div>