/*#UserOrder {
    width: 600px;
    font-size:15px;
}

#UserOrder tr td{
    height:30px;
    text-align:center;
}
.SingleOreder tr{
    border-top: solid 2px black;
}

.item {
    padding-top:40px;   
    height:300px;
    font-size: 20px;
}



.item a{
    text-decoration:none;
}

#singleDay tr th {
    width:150px;
}

#singleDay tr td {
    text-align: center;
}




#go_back {
    float:left;
    width: 150px;    
    padding-top: 30px;
    padding-left:50px;
}

#go_back a{
    float:left;
    font-size:20px;
    color: black;
    padding: 0 3px 0 3px;
    text-decoration: none;
    border: solid 1px grey;
    border-radius: 5px;
}

#go_back a:hover {
    background-color: #38ACEC;
}

#go_back_detail {
    float:left;
    width: 150px;    
    padding-top: 30px;
}

#go_back_detail a{
    float: left;
    font-size: 20px;
    color: black;
    padding: 0 3px 0 3px;
    text-decoration: none;
    border: solid 1px grey;
    border-radius: 5px;
}

#go_back_detail a:hover {
    background-color: #38ACEC;
}*/


#OrdersTable tbody tr{
    height:150px;
}


/*----------------Paging----------------*/
/*.paging {
    padding-top: 15px;
    font-size: 20px;
    padding-left:400px;
    padding-top:30px;
}

.paging a {
    color: black;
    padding: 0 3px 0 3px;
    text-decoration: none;
    border: solid 1px grey;
    border-radius:5px;
}

.paging a:hover {
    background-color: #38ACEC;
}*/
