#passwordStrength

{

        height:10px;

        display:block;

        float:left;

}



.strength0

{

        width:150px;

        background:#cccccc;

}



.strength1

{

        width:30px;

        background:#ff0000;

}



.strength2

{

        width:60px;    

        background:#ff5f5f;

}



.strength3

{

        width:90px;

        background:#56e500;

}



.strength4

{

        background:#4dcd00;

        width:120px;

}



.strength5

{

        background:#399800;

        width:150px;

}