.highlight { background-color: yellow }

/*#searchContent #searchLeftContent {
    height:150px;
    width:200px;
    float:left;
    border:ridge;
        margin-bottom:10px;
}


#searchContent #searchrightContent {
    height:150px;
    width:750px;
    border:ridge;
    float:left;
    margin-left:20px;
    margin-bottom:10px;
}*/

 


/*----------------Paging----------------*/
/*.paging {    
    font-size:20px;
    text-align:center;
}

.paging a {
    color: black;
    text-decoration: none;
    border: solid 1px grey;
    border-radius:2px;
    padding:0px 10px 0px 10px;
}

.paging a:hover {
    background-color:lightblue;
}


.paging .next {
    height:25px;
    width:25px;
    padding:10px;
}*/