#leftContent{
    height:480px;
    width:450px;
    border-radius:6px;
    box-shadow:black 3px 3px 3px;
    border:1px solid #254117;
    display:inline-block;
    margin-left:30px;
    margin-right:10px;
    float:left;
}


#rightContent {
    height:480px;
    width:490px;
    border-radius:6px;
    box-shadow:black 3px 3px 3px;
    border:1px solid #254117;
    display:inline-block;
    float:right;
    text-align:center;
}

#leftContent, #rightContent {
    margin-top:20px;
}

li {
    line-height:30px;
}

#rightContent p {
    padding:100px 0 20px 0;
    font-size:xx-large; 
    font-family: Arial
}

#back{
    margin:30px;
    width:970px;
    height:100px;
    background-color:yellow;
    float:left;
    
}

.ErrorMessage {
    color:red;
}