@{
    ViewBag.Title = "About";
}

<h2>About</h2><hr />
<div id="Map" style="display:inline;">
    <div id="HoabrtStore" style="border:ridge; float:left; margin-top:20px;">
        <h3>Hobart Store</h3>
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.au/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Red+Herring+Surf,+Liverpool+Street,+Hobart,+Tasmania&amp;aq=0&amp;oq=red+herr&amp;sll=-42.841737,147.380219&amp;sspn=0.402778,0.55069&amp;ie=UTF8&amp;hq=Red+Herring+Surf,&amp;hnear=Liverpool+St,+Tasmania+7000&amp;ll=-42.880871,147.327472&amp;spn=0.006903,0.007179&amp;t=m&amp;output=embed"></iframe>
        <br />
        <small><a href="http://maps.google.com.au/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Red+Herring+Surf,+Liverpool+Street,+Hobart,+Tasmania&amp;aq=0&amp;oq=red+herr&amp;sll=-42.841737,147.380219&amp;sspn=0.402778,0.55069&amp;ie=UTF8&amp;hq=Red+Herring+Surf,&amp;hnear=Liverpool+St,+Tasmania+7000&amp;ll=-42.880871,147.327472&amp;spn=0.006903,0.007179&amp;t=m" style="color: #0000FF; text-align: left">View Larger Map</a></small>
    </div>
    <div id="GlenorchyStore" style="border:ridge; float:right; margin-top:20px;">
        <h3>Glenorchy Store</h3>
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.au/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Red+Herring+Surf,+Glenorchy,+Tasmania&amp;aq=1&amp;oq=Red+Herring+Surf&amp;sll=-42.884109,147.340007&amp;sspn=0.019024,0.042272&amp;ie=UTF8&amp;hq=Red+Herring+Surf,&amp;hnear=Glenorchy+Tasmania&amp;ll=-42.833374,147.2772&amp;spn=0.006295,0.006295&amp;t=m&amp;output=embed"></iframe>
        <br />
        <small><a href="http://maps.google.com.au/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Red+Herring+Surf,+Glenorchy,+Tasmania&amp;aq=1&amp;oq=Red+Herring+Surf&amp;sll=-42.884109,147.340007&amp;sspn=0.019024,0.042272&amp;ie=UTF8&amp;hq=Red+Herring+Surf,&amp;hnear=Glenorchy+Tasmania&amp;ll=-42.833374,147.2772&amp;spn=0.006295,0.006295&amp;t=m" style="color: #0000FF; text-align: left">View Larger Map</a></small>
    </div>
    
    <div id="LauncestonStore" style="border:ridge; float:left; margin-top:80px;">
        <h3>Launceston Store</h3>
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.au/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Red+Herring+Surf,+Charles+Street,+Launceston,+Tasmania&amp;aq=3&amp;oq=Red+Herring+Surf&amp;sll=-42.831541,147.2772&amp;sspn=0.009017,0.021136&amp;ie=UTF8&amp;hq=Red+Herring+Surf,&amp;hnear=Charles+St,+Launceston+Tasmania+7250&amp;t=m&amp;ll=-41.43779,147.137284&amp;spn=0.006295,0.006295&amp;output=embed"></iframe>
        <br />
        <small><a href="http://maps.google.com.au/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Red+Herring+Surf,+Charles+Street,+Launceston,+Tasmania&amp;aq=3&amp;oq=Red+Herring+Surf&amp;sll=-42.831541,147.2772&amp;sspn=0.009017,0.021136&amp;ie=UTF8&amp;hq=Red+Herring+Surf,&amp;hnear=Charles+St,+Launceston+Tasmania+7250&amp;t=m&amp;ll=-41.43779,147.137284&amp;spn=0.006295,0.006295" style="color: #0000FF; text-align: left">View Larger Map</a></small>
    </div>

    <div id="BurnieStore" style="border:ridge; float:right; margin-top:80px;">
        <h3>Burnie Store</h3>
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.au/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Red+Herring+Surf,+Mount+Street,+Burnie,+Tasmania&amp;aq=2&amp;oq=Red+Herring+Surf&amp;sll=-41.436035,147.137275&amp;sspn=0.009218,0.021136&amp;ie=UTF8&amp;hq=Red+Herring+Surf,&amp;hnear=Mount+St,+Tasmania+7320&amp;t=m&amp;ll=-41.050473,145.905255&amp;spn=0.045516,0.009982&amp;output=embed"></iframe>
        <br />
        <small><a href="http://maps.google.com.au/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Red+Herring+Surf,+Mount+Street,+Burnie,+Tasmania&amp;aq=2&amp;oq=Red+Herring+Surf&amp;sll=-41.436035,147.137275&amp;sspn=0.009218,0.021136&amp;ie=UTF8&amp;hq=Red+Herring+Surf,&amp;hnear=Mount+St,+Tasmania+7320&amp;t=m&amp;ll=-41.050473,145.905255&amp;spn=0.045516,0.009982" style="color: #0000FF; text-align: left">View Larger Map</a></small>
    </div>
</div>


