@model ProjectA.Models.SendEmail
@{
    ViewBag.Title = "Reset Your Password";
}


@using (Html.BeginForm())
{
    <table id="ResetUserPassword" class="hero-unit" style="width:500px; height:200px;text-align:center;margin-left: auto;margin-right: auto;">
        <tr><td><h3 style="text-align:left; padding:0 40px 0 40px;">Reset Your Password</h3><hr /></td></tr>
            
                
                @if(!ViewData.ModelState.IsValid)
                {       
                    <div class="alert alert-error">                
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Warning!</strong>@Html.ValidationMessage("ResetPassword", new { @class="alert alert-error"})
                    </div>
                }
           
            <tr ><td style=" text-align:left; padding:0 40px 0 100px;line-height:10px;">
           <div class="input-prepend"> @Html.Label("Email Address:")    <br /><span class="add-on"><i class="icon-envelope"></i></span>
            @Html.TextBox("EmailAddress", "", new { @class = "userInput",style = "width:250px;" })</div></td></tr>
        <tr>
            <td style="padding:10px 20px 20px 0;">
                <input class="btn btn-middle btn-primary" style="float:right;width:80px;" type="submit" value="Find" />
            </td>
        </tr>

    </table>

}